<h1>New Category</h1>

<%= render 'form', category: @category %>

<nav aria-label="...">
  <ul class="pager" style="text-align: left;">
    <li class="">
      <%= link_to categories_path do %>
        <i class="fa fa-chevron-left"></i> Back</a>
      <% end %>
  </ul>
</nav>
